<%= form_for @custom_file, url: admin_custom_files_path do |f| %>
  <h5 class="form-header">New Custom File</h5>

  <% if @custom_file.errors.full_messages.count > 0 %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <% @custom_file.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :file %>
    <%= f.file_field :file, class: 'form-control' %>
  </div>

  <div class="form-buttons-w">
    <button class="btn btn-primary" type="submit"> Submit</button>
  </div>
<% end %>