<body>
<div class="all-wrapper menu-top">
  <div class="layout-w">

    <%= render 'layouts/header' %>

    <div class="content-w">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="<%= admin_path %>">Admin</a></li>
        <li class="breadcrumb-item"><a href="<%= admin_users_path %>">Users</a></li>
        <li class="breadcrumb-item"><span>Upload Khabri CSV Wallets</span></li>
      </ul>

      <div class="content-i">
        <div class="content-box">
          <div class="row">
            <div class="col-sm-12">
              <div class="element-wrapper">
                <div class="element-box">
                  <h5 class="form-header">Upload CSV Wallets</h5>

                  <div class="form-desc">
                    <a href="/samples/khabri_wallet.xlsx" class="mr-2 mb-2 btn btn-outline-primary"> Download Sample</a>
                  </div>

                  <%= form_for 'wallet', url: admin_upload_khabri_wallet_path do |f| %>

                    <div class="form-group">
                      <%= f.label :file %>
                      <%= f.file_field :file, class: 'form-control' %>
                    </div>

                    <div class="form-buttons-w">
                      <button class="btn btn-primary" type="submit"> Submit</button>
                    </div>

                  <% end %>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>