<body>
<div class="all-wrapper menu-top">
  <div class="layout-w">

    <%= render 'layouts/header' %>

    <div class="content-w">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="<%= admin_path %>">Admin</a></li>
        <li class="breadcrumb-item"><a href="<%= admin_deal_uploads_path %>">Deal Uploads</a></li>
        <li class="breadcrumb-item"><span>Deal Upload</span></li>
      </ul>

      <div class="content-i">
        <div class="content-box">
          <div class="row">
            <div class="col-sm-12">
              <div class="element-wrapper">
                <h6 class="element-header">Deal Upload</h6>
                <%= render 'layouts/flash' %>

                <div class="element-box">
                  <h5 class="form-header">Deal Upload Details</h5>
                  <div class="form-desc">
                    <% if @deal_upload.status === false %>
                      <%= link_to 'Approve', admin_approve_deal_upload_path(@deal_upload), class: 'mr-2 mb-2 btn btn-outline-success', method: :post %>
                    <% else %>
                      <%= link_to 'Decline', admin_decline_deal_upload_path(@deal_upload), class: 'mr-2 mb-2 btn btn-outline-danger', method: :post, data: { confirm: 'Are you sure?' } %>
                    <% end %>
                    <%= link_to 'Delete', admin_deal_upload_path(@deal_upload), class: 'mr-2 mb-2 btn btn-outline-danger', method: :delete, data: { confirm: 'Are yous sure?' } %>
                  </div>.

                  <div class="table-responsive">
                    <table class="table table-striped table-lightfont">
                      <tr>
                        <th>ID</th>
                        <td><%= @deal_upload.id %></td>
                      </tr>
                      <tr>
                        <th>Status</th>
                        <td><%= @deal_upload.status %></td>
                      </tr>
                      <tr>
                        <th>Deal</th>
                        <td><%= link_to @deal_upload.deal.name, admin_deal_path(@deal_upload.deal) %></td>
                      </tr>
                      <tr>
                        <th>User</th>
                        <td><%= link_to @deal_upload.user.name, admin_user_path(@deal_upload.user) %></td>
                      </tr>
                      <tr>
                        <th>Submission</th>
                        <td>
                          <%= image_tag @deal_upload.image %>
                        </td>
                      </tr>
                    </table>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>