<body>
<div class="all-wrapper menu-top">
  <div class="layout-w">

    <%= render 'layouts/header' %>

    <div class="content-w">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="<%= admin_path %>">Home</a></li>
        <li class="breadcrumb-item"><a href="<%= admin_deals_path %>">Deals</a></li>
      </ul>

      <div class="content-i">
        <div class="content-box">
          <div class="element-wrapper">
            <h6 class="element-header">Deals</h6>

            <%= render 'layouts/flash' %>

            <div class="element-box">
              <h5 class="form-header">Deals List</h5>
              <div class="form-desc">
                <a href="<%= admin_new_deal_path %>" class="mr-2 mb-2 btn btn-outline-primary"> New Deal</a>
              </div>
              <div class="table-responsive">
                <table id="deals-table" width="100%" class="table table-striped table-lightfont" data-source="<%= admin_deals_path %>">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Link</th>
                    <th>Status</th>
                    <th>Active</th>
                    <th>Created At</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="display-type"></div>
</div>
</body>