<li class="has-sub-menu"><a href="<%= admin_path %>">
  <div class="icon-w">
    <div class="os-icon os-icon-window-content"></div>
  </div>
  <span>Dashboard</span></a>
</li>
<li class="has-sub-menu"><a href="#!">
  <div class="icon-w">
    <div class="os-icon os-icon-hierarchy-structure-2"></div>
  </div>
  <span>Masters</span></a>
  <ul class="sub-menu">
    <li><a href="<%= admin_users_path %>">Users</a></li>
    <li><a href="<%= admin_offers_path %>">Offers</a></li>
    <li><a href="<%= admin_deals_path %>">Deals</a></li>
    <li><a href="<%= admin_products_path %>">Products</a></li>
    <li><a href="<%= admin_tasks_path %>">Tasks</a></li>
    <li><a href="<%= admin_reward_tasks_path %>">Reward Tasks</a></li>
    <li><a href="<%= admin_categories_path %>">Wallpaper Categories</a></li>
    <li><a href="<%= admin_wallpapers_path %>">Wallpapers</a></li>
    <li><a href="<%= admin_you_tubes_path %>">YouTube</a></li>
    <li><a href="<%= admin_notifications_path %>">Notifications</a></li>
    <li><a href="<%= admin_custom_files_path %>">Custom File</a></li>
    <li><a href="<%= admin_hollow_users_path %>">Hollow Users</a></li>
    <li><a href="<%= admin_all_transactions_path %>">Transactions</a></li>
  </ul>
</li>
<li class="has-sub-menu">
  <a href="">
    <div class="icon-w">
      <div class="os-icon os-icon-hierarchy-structure-2"></div>
    </div>
    <span>Quiz</span>
  </a>
  <ul class="sub-menu">
    <li><a href="<%= admin_quiz_questions_path %>">Daily Quiz Questions</a></li>
    <li><a href="<%= admin_quiz_attempts_path %>">Daily Quiz Attempts</a></li>
    <li><a href="<%= admin_choose_quiz_winner_path %>">Quiz Winner Selection</a></li>
    <li><a href="<%= admin_quiz_winners_path %>">Quiz Winners</a></li>
  </ul>
</li>
<li>
  <a href="<%= admin_settings_path %>">
    <div class="icon-w">
      <div class="os-icon os-icon-newspaper"></div>
    </div>
    <span>Settings</span>
  </a>
</li>
<li><a href="<%= admin_task_submits_path %>">
  <div class="icon-w">
    <div class="os-icon os-icon-tasks-checked"></div>
  </div>
  <span>Task Submissions</span></a>
</li>
<li>
  <a href="<%= admin_deal_uploads_path %>">
    <div class="icon-w">
      <div class="os-icon os-icon-tasks-checked"></div>
    </div>
    <span>Deal Uploads</span>
  </a>
</li>
<li>
  <a href="<%= admin_conversions_path %>">
    <div class="icon-w">
      <div class="os-icon os-icon-tasks-checked"></div>
    </div>
    <span>Conversions</span>
  </a>
</li>
<li>
  <a href="<%= admin_redeems_path %>">
    <div class="icon-w">
      <div class="os-icon os-icon-tasks-checked"></div>
    </div>
    <span>Redeem Requests</span>
  </a>
</li>